<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>KOBL - Dashboard</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="form-validation.css" rel="stylesheet">
  </head>

  <body class="bg-light">
  
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index:index' %}">KOBL</a>
</nav>
  
    <div class="container">
      <div class="py-5 text-center">
        <h2>KOBL Dashboard</h2>
        <p class="lead">Please select from one of the available options.</p>
      </div>
	  <div class="my-5 pt-5 text-center">
	    <a class="btn btn-primary btn-lg" href="{% url 'card:card_create' %}" role="button">Create a Card</a>
		</div>
		<div class="my-5 text-center">
	    <a class="btn btn-primary btn-lg" href="{% url 'card:card_list_new' %}" role="button">New Cards</a>
	    <a class="btn btn-primary btn-lg" href="{% url 'card:card_list_checked' %}" role="button">Checked Cards</a>

        <a class="btn btn-primary btn-lg" href="{% url 'card:card_list_rejected' %}" role="button">Rejected Cards</a>
	    <a class="btn btn-primary btn-lg" href="{% url 'card:card_list_approved' %}" role="button">Approved Cards</a>
	  </div>
	  <div class="my-5 pt-5 text-center">
	    <a class="btn btn-primary btn-lg" href="{% url 'wo:wo_status_update' %}" role="button">WO Status Update</a>
		</div>
		<div class="my-5 text-center">
		<a class="btn btn-primary btn-lg" href="{% url 'blog:blog_index' %}" role="button">BLOG</a>
	  </div>
	  
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 KOBL.co</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
